<footer class="bg-orange-600 text-white mt-10">
  <div class="max-w-7xl mx-auto px-6 py-8 flex flex-col md:flex-row justify-between items-center">
    <div class="text-lg font-semibold">
      &copy; <%= new Date().getFullYear() %> Airbnb Clone. All rights reserved.
    </div>
    <div class="mt-4 md:mt-0 flex space-x-6">
      <a href="/" class="hover:underline">Home</a>
      <a href="/host/add-home" class="hover:underline">Add Home</a>
      <a href="https://github.com/" target="_blank" class="hover:underline">GitHub</a>
    </div>
  </div>
</footer>